# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
Model/data/
# Model/models/ # Uncomment if you don't want to push saved models (.pkl, .joblib, .pt)
*.csv
*.db
*.sqlite3

# Node modules for frontend
node_modules/
dist/
build/
.npm/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
